.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body{
      background-color:black;
      justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        padding: 20px;
        display: flex;
    }
        
      .section-1 {
        background-color:hsl(0, 0%, 8%);
        max-width: 500px;
        width: 100%;
        height: 800px;
        padding: 20px;
        border-radius: 7px;
        margin-top: 30px;
      }
    .section-2{
        align-self: center;
        display: flex;
        flex-direction: column;
    }
     img{
        margin-top: 45px;
        border-radius: 80px;
        width: 100px;
        align-self: center;
    }
    .section-2 strong{
        color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 28px;
    }
    .section-2 span{
        color: hsl(75, 94%, 57%);
        display: flex;
        justify-content: center;
        margin-top: 7px;
    }
    .section-2 p{
        color:   hsl(0, 0%, 80%);
        display: flex;
        justify-content: center;
    }
    .section-3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
    }
    .section-3 button{
        background-color:  hsl(0, 0%, 20%);
        width: 70%;
        height: 45px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-size: large;
        border:none ;
        padding: 0px;
    }
